{% extends 'main/base.html' %}

{% load static %}

{% block body %}
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
                        <div class="carousel-inner">

                            <div class="item active">
								<div class="col-sm-6">
									<h1> {{ activ_carusel.title }}</h1>
									<h2> {{ activ_carusel.about_title }}</h2>
									<p> {{ activ_carusel.about }}</p>
									<button type="button" class="btn btn-default get"> {{ activ_carusel.button_text }} </button>
								</div>
								<div class="col-sm-6">
									<img src="{{ activ_carusel.img.url }}" class="girl img-responsive" alt="" />
									<img src="{{ activ_carusel.subimge.url }}" class="pricing" alt="" />
								</div>
							</div>

                            {% for i in carusel_list%}
							<div class="item">
								<div class="col-sm-6">
									<h1> {{ i.title }}</h1>
									<h2> {{ i.about_title }}</h2>
									<p> {{ i.about }}</p>
									<button type="button" class="btn btn-default get"> {{ i.button_text }} </button>
								</div>
								<div class="col-sm-6">
									<img src="{{ i.img.url }}" class="girl img-responsive" alt="" />
									<img src="{{ i.subimge.url }}" class="pricing" alt="" />
								</div>
							</div>
							{% endfor %}
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for i in product_category_list %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											{% if i.category.count %} 
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{% endif %}
											{{ i.name }}
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											{% for j in i.category.all %}
											<li><a href="#"> {{ j.name }} </a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}

						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
					
						{% for i in features_items %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{ i.img.url }}" alt="" />
											<h2>$ {{i.price }}</h2>
											<p> {{ i.description }} </p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> {{ i.button_text }} </a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>$ {{i.price }} </h2>
												<p> {{ i.description }} </p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> {{ i.button_text }} </a>
											</div>
										</div>
									
									{% if i.sub_img %}
										<img src="{{ i.sub_img.url }}" class="new" alt="" />
									{% endif %}
									

								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div><!--features_items-->
					
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">

								<li class="active"><a href="#{{ active_category.name }}" data-toggle="tab">{{ active_category.name }}</a></li>
								
								{% for i in category_list %}
								<li><a href="#{{ i.name }}" data-toggle="tab"> {{ i.name }} </a></li>
								{% endfor %}

							</ul>
						</div>
						<div class="tab-content">

							<div class="tab-pane fade active in" id="{{ active_category.name }}" >
								{% for i in active_category_item %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src=" {{i.img.url }} " alt="" />
												<h2>$ {{ i.price }}</h2>
												<p> {{ i.description }} </p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> {{ i.button_text }} </a>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>

							{% for i in category_list %}
							<div class="tab-pane fade" id="{{ i.name }}" > 
								{% for j in category_items %}
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src=" {{j.img.url }} " alt="" />
													<h2>$ {{ j.price }} {{ i.name }} {{ j.category }} </h2>
													<p> {{ j.description }} </p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> {{ j.button_text }} </a>
												</div>
											</div>
										</div>
									</div>

								{% endfor %}
							</div>
							{% endfor %}
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
